<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header" class="responsable-topbar">
    <label class="responsable-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Rechercher dans l'espace responsable">
    </label>
    <div class="header-droite">
        <a th:href="@{/responsable/notifications}" class="header-icon-btn" title="Notifications">
            <i class="fa-solid fa-bell"></i>
            <span class="notif-dot" th:text="${notificationsCount ?: 0}">0</span>
        </a>
        <a th:href="@{/responsable/notifications}" class="header-icon-btn" title="Messages">
            <i class="fa-solid fa-envelope"></i>
            <span class="notif-dot" th:text="${messagesCount ?: 0}">0</span>
        </a>
        <div class="header-user">
            <div class="avatar responsable-avatar"><span>RS</span></div>
            <div class="info">
                <div class="name" sec:authentication="name">Responsable</div>
                <div class="role">Responsable des stages <i class="fa-solid fa-chevron-down"></i></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
