<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar" class="barre-laterale">
    <h2 class="logo-app">Responsable</h2>
    <nav>
        <a th:href="@{/responsable/dashboard}">Tableau de bord</a>
        <a th:href="@{/responsable/demandes}">Demandes</a>
        <a th:href="@{/responsable/admissions}">Admissions</a>
        <a th:href="@{/responsable/affectations}">Affectations</a>
        <a th:href="@{/responsable/cloture}">Cloture</a>
    </nav>
</div>

</body>
</html>