<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="sidebar" class="barre-laterale">
    <h2 class="logo-app">DTA Alliance</h2>
    <div class="sidebar-role">Responsable</div>
    <nav>
        <a th:href="@{/responsable/dashboard}" class="actif">🏠 Tableau de bord</a>
        <a th:href="@{/responsable/demandes}">📄 Demandes</a>
        <a th:href="@{/responsable/admissions}">👤 Admissions</a>
        <a th:href="@{/responsable/affectations}">💼 Affectations</a>
        <a th:href="@{/responsable/cloture}">📦 Clôture</a>
    </nav>
</div>

</body>
</html>